<div align="center">
  <h2> About Us </h2>
  <div>
    <p>
      Clever and sophisticated individuals, creating order and harmony via the medium of To-Do entries
      (which we will mark off of our own to-do list!)
    </p>
  </div>
</div>
