<div class="container">
  <div class="row">
    <h2 class="header">This is the About page</h2>
  </div>
  <div class="row">
    <p>Built using instructions from Udemy's Complete Ruby on Rails Developer Course by Mashrur Hossain</p>
    <p>Now with Materialize styling goodness!</p>
    <p>
      <%= link_to 'Source', 'https://github.com/EmpyDoodle/udemy_complete-ror-dev_alpha-blog/tree/materialize', target: '_blank' %>
    </p>
  </div>
</div>
