<div class="parallax-container">
  <div class="parallax">
    <%= image_pack_tag('muhannad-ajjan-sL2BRR1cuvM-unsplash.jpg', :alt => 'parallax image 1', :class => 'responsive-img') %>
  </div>
</div>
<div class="section grey lighten-3">
  <div class="container">
    <div class="row">
      <h2 class="header">Welcome to the To-Do App</h2>
      <p>Powered with Rails, styled with Materialize, coded with love.</p>
    </div>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <%= image_pack_tag('clark-tibbs-oqStl2L5oxI-unsplash.jpg', :alt => 'parallax image 2', :class => 'responsive-img') %>
  </div>
</div>
